html, body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

.fr {
    float: right
}

.main-view {
    float: left;
    padding: 10px;
    width: calc(100% - 356px);
}

.overview-table {
    width: 100% !important;
}

.overview-table a {
    text-decoration: underline !important;
}

.overview-table a:hover {
    color: red !important;
}

.mdl-select-workaround {
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 0 0 1px 0;
    color: #424242;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    outline: 0;
    text-transform: capitalize;
}

.active {
    color: #424242;
}

a:active, a:hover, a:visited, a:link {
    text-decoration: none;
    color: black;
}

.task-button {
    color: cornflowerblue !important;
    text-decoration: underline !important;
    font-size: 18px;
    display: block;
    height: 16px;
}

.subtask-button {
    color: cornflowerblue !important;
    font-size: 16px;
}

.mdl-data-table.examples-table {
    table-layout: fixed;
    white-space: break-spaces !important;
    width: 100%;
}

.examples-table td.context, .examples-table td.subs {
    overflow-wrap: break-word;
    width: 90%
}

.word {
    font-size: 16px;
    font-weight: bold;
}

.subtask-button.selected {
    text-decoration: underline;
}

.center {
    text-align: center !important;
}


.dataset-upload-container {
    padding: 10px;
    width: 300px;
    float: left;
    margin-right: 10px;
}

.datasets-list {
    float: left;
    padding: 10px;
    width: calc(100% - 350px)
}

.datasets-list table {
    width: 100%
}

.subtask-menu {
    padding: 10px;
    height: 30px;
}

.i-am-a {
    font-size: 18px;
    padding: 20px;
}

.middle {
    text-align: center;
    margin-top: 100px;
    height: 100%
}

.justify-left {
    justify-content: left !important;
}

.left-panel {
    border-right: solid 1px #cacaca;
    width: 315px;
    height: calc(100% - 20px);
    padding: 10px;
    float: left;
}

.left-panel textarea {
    width: 310px;
}

.left-panel textarea#configuration {
    height: 350px;
}

.run-button {
    width: 100% !important;
}

.left-panel textarea#target_words {
    height: 200px;
}

.left-panel input, .left-panel select {
    width: 250px
}

.left-panel input[type=submit] {
    width: 100px
}

.corpus-file-inputs {
    float: left;
    padding: 10px;
}

.left-panel label {
    display: block;
    font-size: 12px;
}

.card.mdl-card {
    width: 512px;
    float: left;
    height: 315px;
    margin: 0 0 0 50px;
}

.card > .mdl-card__supporting-text {
    height: 80px;
}

.card-lexicographer > .mdl-card__title {
    color: #fff;
    height: 152px;
    background: #85ca85;
}

.card-researcher > .mdl-card__title {
    color: #fff;
    height: 152px;
    background: #8080ff;
}

.card-subst-wsi > .mdl-card__title {
    color: #fff;
    height: 152px;
    background: #ff5295;
}

.fl {
    float: left;
}

.mdl-card__title-text {
    text-shadow: #4f4f4f 0 0 10px !important;
    font-weight: bold !important;
}

.index-content {
    padding: 0 50px 50px 50px;
}

.cluster-block > div {
    border-bottom: solid 1px #cacaca;
}

.cluster-block > div.signature {
    font-weight: bold;
}

.cluster-block input, .cluster-block select {
    width: 80px;
    margin: 0 2px;
}

.line45 {
    height: 50px;
    width: 1px;
    border-right: 2px solid #cacaca;
    -moz-transform: skew(-45deg);
    -webkit-transform: skew(-45deg);
    transform: skew(-45deg);
    float: left;
}

.line315 {
    height: 50px;
    width: 1px;
    border-right: 2px solid #cacaca;
    -moz-transform: skew(45deg);
    -webkit-transform: skew(45deg);
    transform: skew(45deg);
    float: left;
}

.line {
    height: 50px;
    width: 200px;
    border-bottom: 2px solid #cacaca;
    border-right: 2px solid #cacaca;
    float: left;
}

.cluster-children, .cluster-parent, .cluster-cluster {
    width: 33%;
    float: left;
    position: relative;
}

.branch {
    width: 100%;
    clear: both;
}

.cluster-cluster .cluster-block, .cluster-parent .cluster-block {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.cluster-cluster.has-no-children .cluster-block {
    position: relative;
    top: 0;
    transform: translateY(0%);
}

.cluster-parent.parent-of-two .cluster-block {
    position: relative;
    top: 100%;
    transform: translateY(-50%);
}

.cluster-cluster.samples-opened .cluster-block, .cluster-parent.samples-opened .cluster-block,
.cluster-cluster.discr-substs-opened .cluster-block, .cluster-parent.discr-substs-opened .cluster-block {
    position: relative !important;
    top: 0 !important;
    transform: none !important;
}

.cluster-cluster.samples-opened, .cluster-parent.samples-opened,
.cluster-cluster.discr-substs-opened, .cluster-parent.discr-substs-opened {
    height: auto !important
}

.cluster-block div.tags {
    border-bottom: none;
    margin: 5px 0;
}

.tag {
    display: inline-block;
    border: solid 1px #cacaca;
    border-radius: 4px;
    padding: 0 3px;
    margin: 0 2px;
    font-weight: bold;
    color: #4f4f4f;
}

.tag.cluster {
    background: #a1e2ff;
}

.tag.imbalance {
    background: #ffa5c0;
}

.tag.high-pmi {
    background: #ffc798;
}

.tag.sense {
    background: rgb(161, 255, 158);
}

.tag.multi-sense {
    background: rgb(248, 255, 123);
}

.tag.increased-entropy {
    background: #ff955c;
}

.cluster-block {
    box-shadow: 0 0 5px #cacaca;
    background: #fefeff;
    border: solid 1px #cacaca;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
    font-size: 10px;
}

.cluster-block .samples-list {
    max-height: 500px;
    border-bottom: none;
    overflow-y: scroll;
    margin-top: 3px;
}

.cluster-block.empty-children {
    height: calc(100% - 22px);
    font-size: 18px;
    color: #cacaca;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cluster-block .discriminative-substs-list {
    border-bottom: none;
}

.cluster-block a {
    display: inline-block;
    margin: 0 2px;
    color: #aaa;
    text-decoration: underline;
}

.cluster-header {
    text-align: center;
    font-weight: bold;
    width: 31%;
    float: left;
    margin: 1%;
    border-bottom: #cacaca solid 1px;
}

#clustering-panel a {
    display: block;
    text-decoration: underline;
}

.sense-block {
    border: solid 1px #cacaca;
    padding: 10px;
    margin: 5px 0;
    box-shadow: 0px 0px 5px #cacaca;
    background:#fefeff;
    border-radius: 3px;
}

.sense-block div {
    border-bottom: solid 1px #cacaca;
}